NODE_ENV=development

VENDURE_PORT=3002
VENDURE_ADMIN_UI_PORT=3003
VENDURE_ADMIN_UI_ROUTE=admin
VENDURE_SHOP_API_PATH=shop-api
VENDURE_ADMIN_API_PATH=admin-api
VENDURE_CORS_ORIGIN=http://127.0.0.1:4173,http://localhost:4173

VENDURE_DB_HOST=localhost
VENDURE_DB_PORT=5433
VENDURE_DB_NAME=vendure_db
VENDURE_DB_USER=vendure
VENDURE_DB_PASSWORD=vendure
VENDURE_DB_SCHEMA=public
VENDURE_DB_SYNCHRONIZE=true

REDIS_HOST=localhost
REDIS_PORT=6380
REDIS_PASSWORD=
REDIS_PREFIX=vendure-svet

SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=superadmin
COOKIE_SECRET=change_me
APP_SECRET=change_me

ASSET_UPLOAD_DIR=./static/assets
EMAIL_OUTPUT_DIR=./static/email

SVET_BACKEND_URL=http://localhost:3000
VENDURE_WEBHOOK_SECRET=change_me

